#toDoInput {
    background-color: white;
    color: black;
    text-align:center;
    height:30px;
    border:none;
    font-size:25px;
    margin-top: 20px;
}

#toDoSubmit{
    color: white;
    display:inline-block;
    padding:10px 50px;
    margin-left:30px;
    background-color:black;
}