.App {
  text-align: center; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
.App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#homebg {
  background-image: url(./css/homebg.png);
  background-repeat: no-repeat;
  height: 1000px;
  margin-top:5px;
}

#errorFont{
  position: absolute;
  bottom: 350px;
  left: 200px;
  font-size: 150px;
  color: red;
}

#error{
  background-image: url(./css/error2.png);
  /* background-size: 1000px; */
  width: 2130px;
  height: 1020px;
  position: absolute;


}


.App-link {
  color: #61dafb;
}

#todoList{
position: absolute;
top: 220px;
left: 650px; 
}

#done{
  margin-top: 160px;
}
  

.scrollbar {
  overflow: scroll;
  max-height: 500px;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.2);
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
Table {
  color: rgb(83, 83, 83);
  background-color: #32595e8c;
}


